apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name}}
  namespace: {{ .Values.todoapp.namespace}}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - http:
      paths:
      - pathType: ImplementationSpecific
        path: /(|$)(.*)
        backend:
          service:
            name: {{ .Chart.Name}}-service
            port:
              number: 80